/*color*/
:root


/*general*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
}

div ul li{
    list-style: none;
    
}

.debug{
    border: 1px solid black;
}

.align-center{
    align-items: center;

}

/*header*/


header{
    background-color: #3065E8;
    background-image: url("../img/jumbo.png");
    height: 500px;
    background-size: cover;
    background-position: center;
}

.hero{
    text-align: center;
    
}

#space-around{
    margin-bottom: 20px;

}

header .navbar ul li a{
    padding: 6px 10px;
    text-decoration: none;
    color: white;
}
   
.navbar{
    padding: 20px;
}
    /*main*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.content{
    width: 40%;
}

.image{
    width: 60%;
}

.row-direction{
    flex-direction: row-reverse;
}

/*footer*/

footer{
    background-color:#23272A;
    color: white;
}

.bottom{
    border-top: 1px solid white;
}

.column ul li{
    flex-direction: column;
    
}

.space-between{
    justify-content: space-between;
}